{% set service_groups_added = {} %}
{% for group in service_groups %}
{% for container in container_defaults %}
{% if container.homepage_group is defined and container.homepage_group.lower() == group %}
{% if service_groups_added[group] is not defined %}
{% set _ = service_groups_added.update({ group: true }) %}
- {{ group | capitalize }}:
{% endif %}
  - {{ container.container | capitalize }}:
{% if container.swag_subdomain is defined %}
      href: "https://{{ container.swag_subdomain }}.{{ swag_domain }}/"
{% endif %}
{% if container.homepage_description is defined %}
      description: "{{ container.homepage_description | capitalize }}"
{% endif %}
{% if container.homepage_icon is defined %}
      icon: "{{ container.homepage_icon }}"
{% else %}
      icon: "{{ container.container }}.png"
{% endif %}
      server: my-docker
      container: "{{ container.container }}"
{% endif %}
{% endfor %}
{% endfor %}