- Test:
    - Vaultwarden:
        href: http://localhost/
        description: Vaultwarden
        server: my-docker
        container: vaultwarden

- Developer:
    - Github:
        - abbr: GH
          href: https://github.com/